/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --text-color: #000028;
  --accent-color: #FF0070;
  --heading-color: #DB00FF;
}

.theme-dark .page {
  background-image: url(../images/cover-image.png);
  /* Вам также нужно будет написать ряд подобных селекторов */
}
